/*********************
    Global Settings
*********************/

/*---Desktop Settings---*/

.top-banner {
    text-align: center;
    color: snow;
    background-color: green;
    padding: 1vh 0;
}

.top-banner > span {
    font-weight: bold;
}

.top-banner > a {
    font-weight: bold;
    text-decoration: none;
    color: snow;
}

#first-navbar {
    margin: 3vh 20vw;
    width: 60vw;
    display: flex; 
    justify-content: space-around;
}

#logo {
    color: snow;
    background-color: crimson;
    width: max-content;
    font-size: 1.5em;
    padding: 2vh 1vw;
    letter-spacing: 1px;
    font-family: "Impact", sans-serif;
}

#logo > span {
    color: forestgreen;
    background-color: snow;
    box-shadow: black 5px 5px 2px;
    padding: 3px;
    border-radius: 2px;
    font-weight: bold;
    margin-right: 8px;
    letter-spacing: 0;
}

#navbar-search {
    width: 25vw;
    padding: 1vh .5vw;
    margin: 1.5vh 0;
    font-weight: bold;
}

.product-search > form > button {
    font-size: large;
    padding: .4vh .5vw .9vh;
    background-color: forestgreen;
    border: 1px solid forestgreen;
}

#account,
#cart {
    font-weight: bold;
    margin: 2.2vh 0;
}

#account > span {
    font-size: x-small;
}

#second-navbar {
    display: flex;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    padding: 3vh 15vw 3vh 20vw;
    font-weight: bold;
    justify-content: space-between;
}

#second-navbar > ul {
    width: 35vw;
    display: flex;
    justify-content: space-around;
}

#second-navbar > ul:nth-of-type(2) {
    width: 25vw;
    justify-content: space-evenly;
}

#second-navbar > ul > li > span {
    font-size: x-small;
}